<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
      name="viewport"
    />
    <meta name="referrer" content="origin" />
    <meta name="google" value="notranslate" />
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
