// some of function like modal, message need to manual import style here
@import 'antd/es/modal/style/index.less';
@import 'antd/es/message/style/index.less';
@import 'antd/es/notification/style/index.less';
@import 'antd/es/drawer/style/index.less';
@import 'antd/es/popconfirm/style/index.less';

/* stylelint-disable selector-class-pattern */
@import url('./assets/variable.less');

#root {
  min-height: 100%;
  background: #f0f2f5;
}

fixed ant color .anticon > * {
  color: inherit;
}
